<!-- DASHBOARD HEADER -->
<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-sm-3">
    <h2>Ciao <%= current_user.admin_name %>!</h2>
    <small>Non hai messaggi e notifiche.</small>
  </div>
  <div class="col-sm-6">
  </div>
  <div class="col-sm-3">
  </div>
</div>
<!-- END DASHBOARD HEADER -->

