<!-- DASHBOARD HEADER -->
<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-sm-3">
    <h2>Ciao <%= current_user.admin_name %>!</h2>
    <small>Non hai messaggi e notifiche.</small>
  </div>
  <div class="col-sm-6">
  </div>
  <div class="col-sm-3">
  </div>
</div>
<!-- END DASHBOARD HEADER -->

<!-- DASHBOARD CONTENT -->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <!-- TODO -->
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <h2>Winston ti consiglia di...</h2>
          <small>Ecco una lista delle cose importanti da fare oggi.</small>
          <ul class="todo-list m-t small-list">
            <% if todos %>
              <% todos.each do |todo| %>
              <li>
                <i class="fa fa-angle-right"></i>
                <span class="m-l-xs"><%= todo %></span>
              </li>
              <% end %>
            <% else %>
            <li>
              <i class="fa fa-check"></i>
              <span class="m-l-xs">Tutto fatto! Winston non ha consigli per te oggi.</span>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <!-- END TODO -->

    <!-- FOOTPRINT SCORE -->
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Footprint Score</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <p>
            Il Footprint Score è un numero di sintesi frutto delle analisi compiute sulla tua presenza digitale nel suo complesso. In base alle analisi sul tuo settore e la concorrenza, dovresti mantenere almeno un punteggio di <strong>68</strong>.
          </p>
          <hr>
          <div class="row">
            <div class="col-lg-5">
              <div class="widget navy-bg p-lg text-center">
                <div class="m-b-md">
                  <i class="fa fa-shield fa-4x"></i>
                  <h1 class="m-xs">32 / 100</h1>
                  <h3 class="font-bold no-margins">
                    Footprint Score
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <ul class="stat-list">
                <li>
                  <h2 class="no-margins">48 / 100</h2>
                  <small>Punteggio footprintseo</small>
                  <span class="label label-primary pull-right">Dettagli</span>
                  <div class="progress progress-mini">
                    <div style="width: 48%;" class="progress-bar"></div>
                  </div>
                </li>
                <li>
                  <h2 class="no-margins ">60 / 100</h2>
                  <small>Punteggio footprintsocial</small>
                  <span class="label label-primary pull-right">Dettagli</span>
                  <div class="progress progress-mini">
                    <div style="width: 60%;" class="progress-bar"></div>
                  </div>
                </li>
                <li>
                  <h2 class="no-margins ">22 / 100</h2>
                  <small>Punteggio footprintwords</small>
                  <span class="label label-warning pull-right">Dettagli</span>
                  <div class="progress progress-mini">
                    <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- END FOOTPRINT SCORE -->

  </div>
</div>
<!-- END DASHBOARD CONTENT -->

