<!-- DASHBOARD HEADER -->
<div class="row border-bottom white-bg dashboard-header">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6 text-center">
    <h2>Benvenuto su Footprint SEO.</h2>
    <small>Inserisci l'URL del tuo sito web per continuare.</small>
    <small class="text-danger">BETA: ad oggi non supportiamo i siti con protocollo HTTPS.</small>
    <hr>
    <form method="post" action="/<%= current_user.id %>/website">
      <div class="input-group">
        <div class="input-group-addon">http://</div>
        <input type="text" class="form-control" placeholder="www.website.com" name="website_url" required="">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Analizza!">
        </span>
      </div>
      <input type="hidden" name="_method" value="put">
    </form>
    <% if flash[:error] %>
    <hr>
    <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
  </div>
  <div class="col-sm-3">
    <div id="gauge" class="100x100 hidden"></div>
  </div>
</div>
<!-- END DASHBOARD HEADER -->