<!-- DASHBOARD HEADER -->
<div class="row border-bottom white-bg dashboard-header">
  <div class="col-lg-3">

  </div>
  <div class="col-lg-6 text-center">
    <h2>Footprint UX</h2>
    <p>Disponibile presto.</p>
  </div>
  <div class="col-lg-3">

  </div>
</div>
<!-- END DASHBOARD HEADER -->