<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Il tuo assistente all-in-one per la gestione integrata della tua presenza digitale.">
    <meta name="author" content="Footprint">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Footprint | Your digital assistant</title>

    <!-- Bootstrap core CSS -->
    <link href="/landing_assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="/landing_assets/css/animate.min.css" rel="stylesheet">

    <link href="/landing_assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/landing_assets/css/style.css" rel="stylesheet">
</head>
<body id="page-top">
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">footprint</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#features">Servizi</a></li>
                        <li><a class="page-scroll" href="#team">Team</a></li>
                        <li><a class="page-scroll" href="#testimonials">Testimonianze</a></li>
                        <li><a class="page-scroll" href="#pricing">Prezzi</a></li>
                        <li><a class="page-scroll" href="#contact">Contatti</a></li>
                        <li><a href="/signup"><span class="navy">Iscriviti</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>La tua presenza digitale <br/> in un solo click</h1>
                    <p>Footprint. Il tuo assistente digitale all-in-one.</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="/signup" role="button">ISCRIVITI ORA</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="/landing_assets/img/laptop.png" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>Tutti i tuoi dati <br/> ovunque ti trovi</h1>
                    <p>Scopri la nostra nuova mobile dashboard.</p>
                    <p><a class="btn btn-lg btn-primary page-scroll" href="#cloud" role="button">SCOPRI</a></p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>Immediato</h2>
            <p>Footprint è in grado di mostrarti tutti gli aggiornamenti di cui hai bisogno, instantaneamente. Costruisci report personalizzati quando e dove vuoi.</p>
            <p><a class="navy-link" href="#" role="button">Dettagli &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Completo</h2>
            <p>La nostra gamma di servizi raccoglie i tre aspetti fondamentali per una corretta gestione della presenza online. Ed è tutto raccolto in una Dashboard.</p>
            <p><a class="navy-link" href="#" role="button">La Dashboard &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Pratico</h2>
            <p>La nostra piattaforma non mira solamenta a fornirti i risultati, ma ad indicarti come incrementare le performance digitali. E impara da te.</p>
            <p><a class="navy-link" href="#" role="button">Tutto su Winston &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Multipiattaforma</h2>
            <p>L'applicazione si integra perfettamente con ogni piattaforma, che sia tablet o mobile. Così puoi avere tutti i nostri servizi sempre a tua disposizione.</p>
            <p><a class="navy-link" href="#" role="button">Iscriviti &raquo;</a></p>
        </div>
    </div>
</section>

<section class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Una gamma di servizi<br/> <span class="navy"> per la tua presenza digitale.</span> </h1>
            <p>Vogliamo essere il tuo punto di riferimento online. Per questo abbiamo fatto tanto. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-bar-chart features-icon"></i>
                <h2>footprint<span class="navy">seo</span></h2>
                <p>Una serie di test sul tuo sito per offrirti una possibilità di ottimizzazione senza precedenti. Una vera e propria simulazione dell'esperienza utente.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-thumbs-o-up features-icon"></i>
                <h2>footprint<span class="navy">social</span></h2>
                <p>La tua presenza sui principali social network: dati, analisi, consigli e suggerimenti. Scopri come sfruttare al massimo la potenza dei social.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="/landing_assets/img/perspective.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-comment-o features-icon"></i>
                <h2>footprint<span class="navy">words</span></h2>
                <p>Tutte le recensioni su di te, raccolte da tutte le maggiori piattaforme, e categorizzate per rating e per contenuti. Così sai esattamente come intervenire.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-user features-icon"></i>
                <h2>footprint<span class="navy">me</span></h2>
                <p>Tutta la potenza di Footprint al servizio del singolo individuo. Scopri come ti vede il mondo digitale (disponibile presto).</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>E' tutto qui</h1>
            <p>La nostra dashboard è tutto quello che ti serve.</p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small>DASHBOARD</small>
            <h2>Tutto sotto controllo. </h2>
            <p>L'amministrazione di ogni nostro servizio è intuitiva, elegante e multipiattaforma. Decidi tu cosa visualizzare con le nostre opzioni di personalizzazione. L'integrazione delle ultime tecnologie nella nostra Dashboard ti consentirà di sfruttare appieno tutta la potenza di elaborazione e visualizzazione dati. Così tu pensi solo al tuo business.</p>
            <a href="" class="btn btn-primary">Iscriviti subito</a>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="/landing_assets/img/dashboard.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
</section>

<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Il nostro team</h1>
                <p>La nostra esperienza al tuo servizio.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft">
                <div class="team-member">
                    <img src="/landing_assets/img/avatar3.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Amelia</span> Smith</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member wow zoomIn">
                    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/04d/2cc/3cffc2f.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Angelo</span> Tomasco</h4>
                    <p>Analista finanziario e sviluppatore. Ha fondato Footprint nel 2015.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="/landing_assets/img/avatar2.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Peter</span> Johnson</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>L'intero team è a tua disposizione! Contattaci per qualsiasi esigenza.</p>
            </div>
        </div>
    </div>
</section>

<section id="cloud" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Abbiamo la testa tra le nuvole.</h1>
                <p>Grazie alla nostra Cloud Dashboard hai a disposizione tutti i nostri servizi online. Ti basta un browser.</p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-3 features-text wow fadeInLeft">
                <small>ONLINE</small>
                <h2>E' tutto sulla nuvola.</h2>
                <p>Abbiamo sviluppato il nostro software in modo che fosse disponibile per tutti, su qualunque piattaforma. Ti servirà soltanto un browser per usufruire di tutti i nostri servizi. Inoltre, il nostro algoritmo è sempre al lavoro, in modo da fornirti risultati sempre aggiornati in tempo reale.</p>
                <a href="" class="btn btn-primary">Inizia subito</a>
            </div>
            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
                <img src="/landing_assets/img/iphone.jpg" class="img-responsive" alt="dashboard">
            </div>
            <div class="col-lg-3 features-text text-right wow fadeInRight">
                <small>SICURO</small>
                <h2>La sicurezza al primo posto.</h2>
                <p>Ci teniamo alla sicurezza. Tutti i risultati delle elaborazioni sono disponibili soltanto per l'azienda che li ha richiesti. I tuoi dati non vengono ceduti a terze parti. Inoltre, il nostro team verifica personalmente che le aziende iscritte siano legittimamente rappresentate.</p>
                <a href="" class="btn btn-primary">Safety policy</a>
            </div>
        </div>
    </div>

</section>

<section id="testimonials" class="navy-section testimonials">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>
                <h1>Cosa dicono di noi</h1>
                <div class="testimonials-text">
                    <i>"Footprint è la risposta alla gestione a 360 gradi di un'azienda digitale. Finalmente non devo più navigare tra decine di piattaforme diverse!"</i>
                </div>
                <small>
                    <strong>12.02.2014 - Qualcuno Spero</strong>
                </small>
            </div>
        </div>
    </div>

</section>

<!-- <section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>More and more extra great feautres</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-bar-chart big-icon pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-bolt big-icon pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
        </div>
    </div>

</section> -->

<section id="pricing" class="pricing">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Prezzi</h1>
                <p>Scegli il tuo livello di servizio e prova gratis Footprint per un mese.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Essential
                    </li>
                    <li class="pricing-desc">
                        I nostri servizi essenziali per le piccole attività che hanno appena iniziato a gestire la loro presenza online.
                    </li>
                    <li class="pricing-price">
                        <span>€19</span> / mese
                    </li>
                    <li>
                        Dati e analisi fondamentali
                    </li>
                    <li>
                        Report PDF mensili
                    </li>
                    <li>
                        Supporto via mail
                    </li>
                    <li>
                        <a class="btn btn-primary btn-xs" href="#">Seleziona</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Business
                    </li>
                    <li class="pricing-desc">
                        La soluzione perfetta per l'impresa che vuole una gestione più avanzata e completa.
                    </li>
                    <li class="pricing-price">
                        <span>€29</span> / mese
                    </li>
                    <li>
                        Dati e analisi ottimizzati
                    </li>
                    <li>
                        Confronto con la concorrenza
                    </li>
                    <li>
                        Report PDF settimanali
                    </li>
                    <li>
                        Supporto telefonico e via mail
                    </li>
                    <li class="plan-action">
                        <a class="btn btn-primary btn-xs" href="#">Seleziona</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Premium
                    </li>
                    <li class="pricing-desc">
                        Per l'azienda con una forte presenza online che ha bisogno di una crescita rapida e servizi personalizzati
                    </li>
                    <li class="pricing-price">
                        <span>€69</span> / mese
                    </li>
                    <li>
                        Dati e analisi avanzate
                    </li>
                    <li>
                        Analisi di settore
                    </li>
                    <li>
                        Confronto con la concorrenza
                    </li>
                    <li>
                        Report PDF giornalieri
                    </li>
                    <li>
                        Supporto prioritario 24/7
                    </li>
                    <li>
                        <a class="btn btn-primary btn-xs" href="#">Iscriviti</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
                <p>Hai bisogno di soluzioni <span class="navy">personalizzate</span>? Contattaci e cercheremo di trovare una soluzione più adatta alle tue esigenze.</p>
            </div>
        </div>
    </div>

</section>

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contattaci</h1>
                <p>Saremo felici di aiutarti per qualsiasi esigenza.</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">Footprint Srl</span></strong><br/>
                    Via Solari 34<br/>
                    Milano, IT 20144<br/>
                    <abbr title="Phone">T:</abbr> 340 979 5522
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    Footprint. Il tuo assistente all-in-one per la gestione della tua presenza digitale.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:test@email.com" class="btn btn-primary">Scrivici</a>
                <p class="m-t-sm">
                    O seguici sui social network
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015 Footprint</strong><br/>. Tutti i diritti riservati.</p>
            </div>
        </div>
    </div>
</section>

<script src="/landing_assets/js/jquery-2.1.1.js"></script>
<script src="/landing_assets/js/pace.min.js"></script>
<script src="/landing_assets/js/bootstrap.min.js"></script>
<script src="/landing_assets/js/classie.js"></script>
<script src="/landing_assets/js/cbpAnimatedHeader.js"></script>
<script src="/landing_assets/js/wow.min.js"></script>
<script src="/landing_assets/js/inspinia.js"></script>
</body>
</html>
